FEEL-DevR3/sre.fac.feel.fcem.soap/documentoFiscal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element
		name="facturaElectronicaComercialExportacionMinera">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cabecera">
					<xs:complexType>
						<xs:sequence>

							<xs:element name="nitEmisor">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="1" />
										<xs:maxInclusive value="9999999999999" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="numeroFactura">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="1" />
										<xs:maxInclusive value="99999999" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="cuf">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="cufd">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codigoSucursal">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="0" />
										<xs:maxInclusive value="9999" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="direccion">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="300" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codigoPuntoVenta" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="0" />
										<xs:maxInclusive value="9999" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="fechaEmision" type="xs:dateTime" />
							<xs:element name="nombreRazonSocial">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="200" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="direccionComprador">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="300" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codigoTipoDocumentoIdentidad">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="1" />
										<xs:maxInclusive value="9" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="numeroDocumento">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="20" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="complemento" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="5" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="concentradoGranel">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="origen">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="puertoTransito">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="puertoDestino" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="paisDestino" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:maxInclusive value="9999" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="incoterm">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codigoCliente">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="partidaArancelaria">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codigoMoneda">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:maxInclusive value="9999" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tipoCambioOficial">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tipoCambioANB">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="numeroLote">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="kilosNetosHumedos">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="humedadPorcentaje" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="humedadValor" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="mermaPorcentaje" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="mermaValor" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="kilosNetosSecos">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codigoMetodoPago">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="1" />
										<xs:maxInclusive value="99" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="numeroTarjeta" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:maxInclusive value="9999999999999999" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="montoTotal">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="montoTotalMoneda">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="subTotal">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="gastosRealizacion">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="liquidacionPreliminar"
								nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="leyenda">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="200" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="usuario">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codigoDocumentoSector"
								type="xs:integer" fixed="25" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="detalle" minOccurs="1"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="actividadEconomica">
								<xs:simpleType>
									<xs:restriction base="xs:long">
										<xs:minInclusive value="1" />
										<xs:maxInclusive value="99999999" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codigoProductoSin">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="1" />
										<xs:maxInclusive value="99999999" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codigoProducto">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="50" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codigoNandina">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="50" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="descripcion">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="200" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="leyes">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="finos1">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="finos2">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="unidadMedida1">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="1" />
										<xs:maxInclusive value="9999" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="unidadMedida2">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="1" />
										<xs:maxInclusive value="9999" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="cotizacion">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="subTotal">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>