FEEL-DevR3/sre.fac.feel.nlcy.soap/documentoFiscal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
	attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element
		name="notaFiscalElectronicaLibreConsignacionYPFB">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cabecera">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nitEmisor">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="1" />
										<xs:maxInclusive value="9999999999999" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="numeroFactura">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="1" />
										<xs:maxInclusive value="99999999" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="cuf">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="cufd">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codigoSucursal">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="0" />
										<xs:maxInclusive value="9999" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="direccion">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="300" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codigoPuntoVenta" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minExclusive value="0" />
										<xs:maxInclusive value="9999" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="fechaEmision" type="xs:dateTime" />
							<xs:element name="codigoTipoDocumentoIdentidad"
								type="xs:integer" fixed="5" />
							<xs:element name="numeroDocumento" type="xs:integer"
								fixed="99005" />
							<xs:element name="codigoMetodoPago">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="1" />
										<xs:maxInclusive value="99" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="numeroTarjeta" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:maxInclusive value="9999999999999999" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="consignatario">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="direccionConsignatario">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="300" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="atencionConsignatario">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="destinatario">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="direccionDestinatario">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="300" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="atencionDestinatario">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="faxExportador">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="numeroContrato">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="contactoExportador">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="telefonoExportador">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="bancoPago">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="numeroCuentaPago">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="nombreCuentaPago">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codigoSwiftPago">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CodigoFedwirePago">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codigoChipsPago">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="plazaPago">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="direccionPago">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="incoterm">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="modalidadPago">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="terminosPago">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="movimiento">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="paisOrigen">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:maxInclusive value="9999" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="paisDestino">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:maxInclusive value="9999" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="exportador">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="embarque">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codigoMoneda">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:maxInclusive value="9999" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tipoCambio">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codigoCliente">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="montoTotal">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="montoTotalMoneda">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="leyenda">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="200" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="usuario">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codigoDocumentoSector"
								type="xs:integer" fixed="26" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="detalle" minOccurs="1"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="actividadEconomica">
								<xs:simpleType>
									<xs:restriction base="xs:long">
										<xs:minInclusive value="1" />
										<xs:maxInclusive value="99999999" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codigoProductoSin">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="1" />
										<xs:maxInclusive value="99999999" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codigoProducto">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="50" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="partidaArancelaria">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="50" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="descripcion">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="500" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="cantidad">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="unidadMedida">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="1" />
										<xs:maxInclusive value="9999" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="precioUnitario">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="subTotal">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20" />
										<xs:fractionDigits value="5" />
										<xs:minExclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>